@import "../modules/globals";
@import "../Section";


.innovative {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #303030;

  h2 {
    font-size: 40px;
    position: relative;
    text-align: center;
    &:after {
      content: '';
      position: absolute;
      bottom:-20px;
      right: calc(50% - 100px);
      width: 200px;
      border-bottom: 3px double #FE0000;

    }
  }

  p {
    font-size: 24px;
    text-align: center;
    padding: 0 20px;
  }

  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;

    font-size: 24px;

    .card {
      width: calc(50% - 20px);
      background: rgba(255,255,255,0.6);
      border-radius: 3px;
      max-width: 550px;
      padding: 20px;
      margin: 20px;

      @include viewports(up-to small) {
        max-width: 100%;
        width: 100%;
      }

      div {
          // Icon
          img {
            vertical-align: middle;

            @include viewports(tiny) {
              width: 90px;
            }

          }

          // Title
          span {
            font-weight: bold;
            font-size: 22px;
            white-space: nowrap;
          }

      }

      // Desc
      p {
        text-align: left;
        margin: 0 auto;
      }

    }

  }
}
