@import "./Section";

.footer {
  background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;

  p {
    color: #ff0000;
    font-size: 7em;
    font-family: Monoton;
    text-align: center;


    &:hover {
      animation: neon 2s ease-in-out infinite alternate;
    }

  }

}


@keyframes neon {
  from {
  text-shadow: none;
  }
  to {
    text-shadow: 0 0 5px #e2e2e2, 0 0 10px #e2e2e2, 0 0 10px #9b9b9b, 0 0 30px #FF1177, 0 0 40px #FF1177, 0 0 20px #FF1177, 0 0 10px #FF1177, 0 0 20px #FF1177;

  }
}
