@import "../modules/globals";
@import "../Section";


.projects {
  color: #fff;
  background-color: #000;
  position: relative;
  z-index:2;
  overflow: hidden;
  min-height: 100vh;
  max-height: 100vh;

  .bgImg {
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    z-index: -1;
    position: absolute;
    filter: opacity(0.5) brightness(0.9) grayscale(0.3);
  }


 .project {
   position: relative;
   height: 100vh;
   width: 100%;
   max-width: $maxPageWidth;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 75px;
   min-height: 100vh;
   max-height: 100vh;

   @include viewports(up-to small) {
     padding: 40px 5px;
     width: 100%;
     justify-content: space-evenly;
   }

   @include viewports(up-to medium) {
      flex-direction: column;
      justify-content: flex-start;
   }

   h3 {
     font-size: 56px;
     margin-bottom:0;

     @include viewports(up-to small) {
        font-size: 46px;
       text-align: center;
     }

   }


   p {
     margin-top: 0;
    font-size: 30px;
     position: relative;
     margin-bottom: 40px;

     @include viewports(up-to small) {
       font-size: 24px;
     }

     &:after {
       content: '';
       position: absolute;
       bottom: -10px;
       left: 0;
       width: 100px;
       border-bottom: 3px double #FE0000;

     }
   }

   .info{
      width: 75%;

     @include viewports(up-to small) {
       margin-top: 60px;
     }

     @include viewports(medium) {
       margin-top: 28px;
     }
   }

   a {

     font-family: 'Righteous', cursive;
     background-color: transparent;
     border: 1px solid #fff;
     font-size: 3vh;
     color: #fff;
     text-decoration: none;
     padding: 10px 12px;
     border-radius: 7px;
     transition: background-color 0.33s;

     &:hover {
       background-color: #980B07;
       transition: background-color 0.33s;
     }

   }
 }


  button {
    position: absolute;
    background-color: #980B07;
    color: #fff;
    border: none;
    top:50vh;
    padding: 15px 10px;

    cursor: pointer;
    border-radius: 3px;

  }

  button:hover{
    -webkit-box-shadow: 0px 1px 20px 5px rgb(233 198 198 / 43%);
    box-shadow: 0px 1px 20px 5px rgb(233 198 198 / 43%);
  }

  button:active {
    background-color: #74110e;
  }

  button:first-of-type {
    left:0;
    margin-left: 5px;
  }

  button:last-of-type {
   right:0;
    margin-right: 5px;
  }

}
