@import "./modules/globals";

.section {
  min-height: calc(100vh - 100px);
  max-width: $maxPageWidth;
  overflow: hidden;
}

.halfSection {
  min-height: 50vh;
  max-width: $maxPageWidth;
  overflow: hidden;

}
